* {
    font-family: 'Almarai', sans-serif;
    margin: 0;
    border: 0;
    padding: 0;
    gap: 0;
}

:root {
  font-size: min(4.5vw, 6.4vh);
}

html {
  min-width: 100%;
  min-height: 100%;
}

body {
  min-width: 100%;
  min-height: 100%;
  text-align: center;
  background-color: #d9d9d9;
}

#visor {
  width: 6.85rem;
  font-size: 0.7rem;
  height: 1.14rem;
  margin-bottom: 0.7rem;
  text-align: right;
}

#main-calc {
    display: flex;
    margin: auto;
    padding: 1rem 0.1rem;
    justify-content: center;
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: center;
    width: 8rem;
    height: fit-content;
    border: 3px solid black;
    background-color: #3a86ff;

}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield;
    appearance: textfield;
}

#zero {
  width: 3.25rem;
}

.clear {
  background: #FF9500;
}

.row, .row1 {
  display: flex;
  gap: 0.25rem;
  margin: 0.125rem auto;
  
}

.row1{
  display: flex;
  width: 83%;
  justify-content: flex-end;
  margin: 0px;
}

.row1 + input {
   color: white;
   background: #FF9500;
}

.row > input{
  background: #ffdd00;
}

.btn {
  font-size: 0.7rem;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 15%;
  box-shadow:5px 5px 1px #142c41;
  transition: 0.2s all;
}

.btn:active {
  box-shadow: none;
  transform: translateY(5px);
  
}

.row input:last-child, .row1 input:last-child{
  background: #d7263d;
  color: white;
}
