* {
    font-family: 'Almarai', sans-serif;
    margin: 0;
    border: 0;
    padding: 0;
    gap: 0;
}

:root {
  font-size: min(4.5vw, 6.4vh);
}

html {
  min-width: 100%;
  min-height: 100%;
}

body {
  min-width: 100%;
  min-height: 100%;
  text-align: center;
  background-color: #d9d9d9;
}

#visor {
  width: 6.85rem;
  font-size: 0.7rem;
  height: 1.14rem;
  margin-bottom: 0.7rem;
  text-align: right;
}

#main-calc {
    display: flex;
    margin: auto;
    padding: 1rem 0.1rem;
    justify-content: center;
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: center;
    /*align-content: center;*/
    width: 8rem;
    height: fit-content;
    border: 3px solid black;
    background-color: #3a86ff;

}

.invisible {
  visibility: hidden;
}

.row, .row1 {
  display: flex;
  gap: 0.25rem;
  margin: 0.125rem auto;
  
}


.row > input, .row1 > input {
  font-size: 0.7rem;
  width: 1.5rem;
  height: 1.5rem;
  box-shadow:5px 5px 1px #142c41;
  background: #ffdd00;


  
}

.btn {
  transition: 0.2s all;
}

.btn:active {
  transform: translateY(5px);
  box-shadow:0px;
}

.row input:last-child, .row1 input{
  background: #d7263d;
  color: white;
}

#zero {
  width: 3.25rem;
}

#clear, #division {
  background: #0353a4;
}